*{
    margin: 0%;
    padding: 0%;
    background-color: 	#f2f2f2;
}
.title{
    margin-top: 200px;
    margin-left: 280px;

}
h1{
    font-size: 75px;
    color: #1877f2;
    font-family: sans-serif;
}
h2{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: black;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}
.container{
    
    width: 400px;
    height: 350px;
    position: absolute;
    top: 20%;
    right: 20%;
    float: right;
    border-radius: 12px;
    background-color: white;
    width: 390px;
    height: 355px;  
    text-align: center;
   
    
}
.form{
    width: 350px;
    padding: 3rem 1.5rem;
    border-radius: 1rem; 
    background-color: #fff;
    box-shadow: 0 9px 23px rgba(166, 166, 166,.9);
}
.form input{
    margin-top: 10px;
    margin-left: -10px;
    border-radius: 8px;
    margin-right: -10px;
    padding:17px;
    width: 332px;
    background-color: #fff;
    transition: .3s;
    border: 1px solid rgb(197, 197, 205);
}
button{
    margin-top: 15px;
    background-color:#1877f2 ;
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    cursor: pointer;
    border: none;


}
p{
    background-color: white;
    font-size: 1px;
    color: #1877f2;
    margin-top: 10px;
}
p a{
    color: #1877f2;
    background-color: white;
    text-decoration: underline;
}
.btn {
    padding: 7px;
    margin-top: 15px;
    background-color: white;
    margin-left: 60px;
    margin-right: 60px;
}
.btn button{
    background-color:#1b9c24 ;
   
}
.sublink h3{
    width: 270px;
    position: absolute;
    top: 60%;
    background: none;
    right: -35%;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    padding: 130px 890px;
    font-size: 12px;
    font-weight: 600;
}
.sublink h3 a{
    color: black;
    font-weight: bold;
    font-size: 13px;
}
